h2{
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #385d8a;
}

h3{
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #385d8a;
}

.square1{
    background-color: #d99694;
    border: 4px solid #224676;
  
  
  }
  .square2{
    background-color: #c4bd97;
    border: 4px solid #224676;
  
  }
  .square3{
    background-color: #558ed5;
    border: 4px solid #224676;
  
  }

  .border{
    border: 4px solid #224676;
    border-radius: 4%;
  }